.menu{
    display: none;
}

nav{
    paddin-top: 3.432vw;
    padding-right: 1.4vw;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.03vw;
}

.navLink{
    margin-left: 0.7vw;
}

.side-menu{
    display: none;
}

@media(max-width: 750px){
    .navLink{
        display: none;
    }

    .menu{
        position: absolute;
        background-color: rgba(229,229,229,0.9);
        z-index: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 0%;
        transition: height .5s ease-out;
    }

    .enabled{
        height: 100%;
    }

    .menuButton{
        margin: 8%;
    }

    .hambContainer{
        position:sticky;
    }

    .hamb {
        cursor: pointer;
        float: right;
        padding: 10px 20px;
    }

    .hamb-line {
        background: var(--clr--limeDark);
        display: block;
        height: 2px;
        position: relative;
        width: 24px;
    }

    .hamb-line::before,
    .hamb-line::after{
        background: var(--clr--limeDark);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .hamb-line::before{
        top: 5px;
    }

    .hamb-line::after{
        top: -5px;
    }

    .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
    }

    .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top:0;
    }

    .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top:0;
    }

    .blockScroll{
        height: 100vh;
        overflow: hidden;
    }
}

.linkButton{
    width: min(22.7778vw,328px);
}

.logo{
    z-index: 2;
    position: absolute;
    top: 2.57vw;
    left: 3.25vw;
    height: min(10.6944vw,154px)
}