#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    width: 100vw;
}

.aboutCards{
    display: flex;
    width: 93vw;
}

.imgContainer{
    width: 50%;
    max-height: 510;
    padding: 0 3px;
    display: flex;
    align-items: center;
}

.aboutImg{
    width: 46.5vw;
    height: auto;
}

.aboutText{
    flex-basis: 50%;
    margin: 40px 3vw;
    text-align: center;
    font-family: var(--ff--montserrat);
    font-size: 24px;
}

.cardTitle{
    font-size: 32px;
    font-weight: 700;
    color: var(--clr--limeDark);
}

hr{
    margin: 40px 0;
    width:89.4vw;
    border: 1px solid #10410C;
}