#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    width: 100%;
}

.aboutCards{
    display: flex;
    width: 93vw;
}


@media(max-width: 750px){
    .responsiveCard{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reverse{
        flex-direction: column-reverse;
    }
}

.imgContainer{
    width: 50%;
    max-height: 510;
    padding: 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutImg{
    width: 46.5vw;
    height: auto;
}

.aboutText{
    flex-basis: 50%;
    margin: 40px 3vw;
    text-align: center;
    font-family: var(--ff--montserrat);
    font-size: clamp(var(--fs--normal),0.4091rem + 1.2121vw,1.5rem);
}

.cardTitle{
    font-size: 32px;
    font-weight: 700;
    color: var(--clr--limeDark);
}

hr{
    margin: 40px 0;
    width:89.4vw;
    border: 1px solid #10410C;
}