@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	/* font family */
	--ff--montserrat: "Montserrat", sans-serif;

	/* fs == font-size */
	--fs--small: 0.75rem;
	--fs--normal: 1rem;
	--fs--medium: 1.25rem;
	--fs--big: 1.75rem;

	/* colors */
	--clr--black: #000000;
	--clr--footer: #333333;
	--clr--background: #e5e5e5;
	--clr--limeDark: #829901;
	--clr--limeLight: #c5da01;
	--clr--white: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--ff--montserrat);
}

body {
	/* toma el ancho de la pantalla sin tener en cuenta la barra de scroll */
	/* entonces un hijo de body con width: 100% seria el ancho de la pantalla sin la barra */
	width: calc(100vw - (100vw - 100%));
}
