:root {
	/* fs == font-size */
	--fs--normal: 1rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* toma el ancho de la pantalla sin tener en cuenta la barra de scroll */
	/* entonces un hijo de body con width: 100% seria el ancho de la pantalla sin la barra */
	width: calc(100vw - (100vw - 100%));
}
